<a href="https://colab.research.google.com/github/akhil9650/NLP/blob/main/nlp_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Load the Drive helper and mount
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import pandas as pd
import csv

In [ ]:
dataset = pd.read_csv('/content/drive/My Drive/Colab Notebooks/skillege.csv')

In [ ]:
dataset = dataset[:-1400000]

In [ ]:
dataset.describe()

         Unnamed: 0
count  90268.000000
mean   45133.500000
std    26058.271387
min        0.000000
25%    22566.750000
50%    45133.500000
75%    67700.250000
max    90267.000000

In [ ]:
dataset.to_csv('/content/drive/My Drive/Colab Notebooks/skillege.csv')

In [ ]:
dda = pd.read_csv('/content/drive/My Drive/Colab Notebooks/small_skill.csv')

In [ ]:
dda.describe()

       Unnamed: 0  Unnamed: 0.1
count  268.000000    268.000000
mean   133.500000    133.500000
std     77.509139     77.509139
min      0.000000      0.000000
25%     66.750000     66.750000
50%    133.500000    133.500000
75%    200.250000    200.250000
max    267.000000    267.000000

In [ ]:
reader = csv.reader(open('/content/drive/My Drive/Colab Notebooks/small_skill.csv', 'r'))
d = []
count = 0

In [ ]:
d = []

In [ ]:
d = dataset.iloc[:, 1]

In [ ]:
count

269

In [ ]:
d

0      ['Key Account Development', 'Strategic Plannin...
1                    ['Molecular Biology', 'Biomarkers']
2      ['DNA', 'Nanotechnology', 'Molecular Biology',...
3      ['Program Management', 'French', 'Avionics', '...
4      ['Digital Strategy', 'Integrated Marketing', '...
5      ['DLP', 'Managed Services', 'Solution Selling'...
6      ['Project Management', 'Cross-functional Team ...
7      ['Predictive Analytics', 'Business Analysis', ...
8      ['virtual team', 'Project Management', 'Projec...
9      ['Recruiting', 'HR Consulting', 'Outplacement'...
10     ['Interactive Marketing', 'Content Strategy', ...
11     ['Social Media', 'Email Marketing', 'Shopper M...
12     ['AML', 'Relationship Management', 'Team Manag...
13     ['Microbiology', 'Vaccines', 'International Sa...
14     ['Primavera', 'Revit MEP', 'AutoCAD', 'Enginee...
15     ['Six Sigma', 'Quality Management', 'Manufactu...
16     ['Beauty', 'Cosmetics', 'Luxury Goods', 'Retai...
17                                               ['SAP']
18     ['Talent Acquisition', 'Recruiting', 'Talent M...
19     ['SQL', 'COBOL', 'DB2', 'JCL', 'Java', 'SDLC',...
20     ['Brand Management', 'Integrated Marketing', '...
21     ['JavaScript', 'HTML', 'CSS', 'WYSIWYG layout ...
22     ['Coaching', 'Segmentation', 'Healthcare', 'P&...
23                ['E-Learning', 'Instructional Design']
24     ['Product Development', 'Team Management', 'Ne...
25                    ['Heading Analytical R&D for API']
26     ['Usability', 'Web Design', 'Project Managemen...
27     ['Product Management', 'CRM', 'Business Planni...
28     ['Data Analysis', 'Market Research', 'Social N...
29     ['Account Management', 'Microsoft Excel', 'Mar...
                             ...
238    ['First Aid Consultant', 'Corporate Trainer', ...
239    ['Java', 'Apache', 'Scalability', 'SOAP', 'Gro...
240    ['Digital Media Sales', 'Digital Strategy', 'A...
241    ['Market Research', 'Account Management', 'Adv...
242    ['Non-profits', 'Volunteer Management', 'Fundr...
243    ['RTL design', 'Synthesis', 'Static Timing Ana...
244    ['Architecture', 'Construction', 'Sustainable ...
245    ['Project Management', 'Budgets', 'Pharmaceuti...
246    ['C', 'Unix Shell Scripting', 'Solaris', 'AIX'...
247    ['Personal Shopping', 'Personal Style', 'Styli...
248    ['Talent Acquisition', 'Recruiting', 'Talent M...
249                                  ['Market Research']
250    ['Business Analysis', 'Business Process Improv...
251    ['Windows', 'HTML', 'SQL', 'Business Analysis'...
252    ['Program Management', 'Process Improvement', ...
253    ['Master Carpenter', 'Master Mechanic', 'Physi...
254    ['GMP', 'Sop', 'Cleaning Validation', 'Granula...
255    ['Entrepreneur', 'DAS', 'Hospital telecommunic...
256                                   ['Private Equity']
257    ['Root Cause Analysis', 'Microbiology', 'Peopl...
258    ['Process Validation', 'Quality Systems', 'ISO...
259    ['Marketing', 'Product Development', 'Retail',...
260    ['Retail', 'Sourcing', 'Wholesale', 'Spanish',...
261    ['Team Leadership', 'Project Planning', 'PRINC...
262    ['Retail business', 'marketing communication',...
263    ['Employee Relations', 'Recruiting', 'Performa...
264    ['Performance Management', 'Organizational Dev...
265    ['Conocimientos Informaticos Gestión Personal'...
266    ['Web Application Security Assessment', 'Penet...
267                                         ['Coaching']
Name: Skill, Length: 268, dtype: object

In [ ]:
dda = dda.replace(' ', '_', regex=True)

In [ ]:
dda

     Unnamed: 0  ...                                              Skill
0             0  ...  ['Key_Account_Development',_'Strategic_Plannin...
1             1  ...                ['Molecular_Biology',_'Biomarkers']
2             2  ...  ['DNA',_'Nanotechnology',_'Molecular_Biology',...
3             3  ...  ['Program_Management',_'French',_'Avionics',_'...
4             4  ...  ['Digital_Strategy',_'Integrated_Marketing',_'...
5             5  ...  ['DLP',_'Managed_Services',_'Solution_Selling'...
6             6  ...  ['Project_Management',_'Cross-functional_Team_...
7             7  ...  ['Predictive_Analytics',_'Business_Analysis',_...
8             8  ...  ['virtual_team',_'Project_Management',_'Projec...
9             9  ...  ['Recruiting',_'HR_Consulting',_'Outplacement'...
10           10  ...  ['Interactive_Marketing',_'Content_Strategy',_...
11           11  ...  ['Social_Media',_'Email_Marketing',_'Shopper_M...
12           12  ...  ['AML',_'Relationship_Management',_'Team_Manag...
13           13  ...  ['Microbiology',_'Vaccines',_'International_Sa...
14           14  ...  ['Primavera',_'Revit_MEP',_'AutoCAD',_'Enginee...
15           15  ...  ['Six_Sigma',_'Quality_Management',_'Manufactu...
16           16  ...  ['Beauty',_'Cosmetics',_'Luxury_Goods',_'Retai...
17           17  ...                                            ['SAP']
18           18  ...  ['Talent_Acquisition',_'Recruiting',_'Talent_M...
19           19  ...  ['SQL',_'COBOL',_'DB2',_'JCL',_'Java',_'SDLC',...
20           20  ...  ['Brand_Management',_'Integrated_Marketing',_'...
21           21  ...  ['JavaScript',_'HTML',_'CSS',_'WYSIWYG_layout_...
22           22  ...  ['Coaching',_'Segmentation',_'Healthcare',_'P&...
23           23  ...             ['E-Learning',_'Instructional_Design']
24           24  ...  ['Product_Development',_'Team_Management',_'Ne...
25           25  ...                 ['Heading_Analytical_R&D_for_API']
26           26  ...  ['Usability',_'Web_Design',_'Project_Managemen...
27           27  ...  ['Product_Management',_'CRM',_'Business_Planni...
28           28  ...  ['Data_Analysis',_'Market_Research',_'Social_N...
29           29  ...  ['Account_Management',_'Microsoft_Excel',_'Mar...
..          ...  ...                                                ...
238         238  ...  ['First_Aid_Consultant',_'Corporate_Trainer',_...
239         239  ...  ['Java',_'Apache',_'Scalability',_'SOAP',_'Gro...
240         240  ...  ['Digital_Media_Sales',_'Digital_Strategy',_'A...
241         241  ...  ['Market_Research',_'Account_Management',_'Adv...
242         242  ...  ['Non-profits',_'Volunteer_Management',_'Fundr...
243         243  ...  ['RTL_design',_'Synthesis',_'Static_Timing_Ana...
244         244  ...  ['Architecture',_'Construction',_'Sustainable_...
245         245  ...  ['Project_Management',_'Budgets',_'Pharmaceuti...
246         246  ...  ['C',_'Unix_Shell_Scripting',_'Solaris',_'AIX'...
247         247  ...  ['Personal_Shopping',_'Personal_Style',_'Styli...
248         248  ...  ['Talent_Acquisition',_'Recruiting',_'Talent_M...
249         249  ...                                ['Market_Research']
250         250  ...  ['Business_Analysis',_'Business_Process_Improv...
251         251  ...  ['Windows',_'HTML',_'SQL',_'Business_Analysis'...
252         252  ...  ['Program_Management',_'Process_Improvement',_...
253         253  ...  ['Master_Carpenter',_'Master_Mechanic',_'Physi...
254         254  ...  ['GMP',_'Sop',_'Cleaning_Validation',_'Granula...
255         255  ...  ['Entrepreneur',_'DAS',_'Hospital_telecommunic...
256         256  ...                                 ['Private_Equity']
257         257  ...  ['Root_Cause_Analysis',_'Microbiology',_'Peopl...
258         258  ...  ['Process_Validation',_'Quality_Systems',_'ISO...
259         259  ...  ['Marketing',_'Product_Development',_'Retail',...
260         260  ...  ['Retail',_'Sourcing',_'Wholesale',_'Spanish',...
261         261  ...  ['Team_Leadership',_'Project_Planning',_'PRINC...
262         262  ...  ['Retail_business',_'marketing_communication',...
263         263  ...  ['Employee_Relations',_'Recruiting',_'Performa...
264         264  ...  ['Performance_Management',_'Organizational_Dev...
265         265  ...  ['Conocimientos_Informaticos_Gestión_Personal'...
266         266  ...  ['Web_Application_Security_Assessment',_'Penet...
267         267  ...                                       ['Coaching']

[268 rows x 3 columns]

In [ ]:
dda = dda.replace(',_', ',', regex=True)

In [ ]:
dda

     Unnamed: 0  ...                                              Skill
0             0  ...  ['Key_Account_Development','Strategic_Planning...
1             1  ...                 ['Molecular_Biology','Biomarkers']
2             2  ...  ['DNA','Nanotechnology','Molecular_Biology','S...
3             3  ...  ['Program_Management','French','Avionics','Emb...
4             4  ...  ['Digital_Strategy','Integrated_Marketing','Di...
5             5  ...  ['DLP','Managed_Services','Solution_Selling','...
6             6  ...  ['Project_Management','Cross-functional_Team_L...
7             7  ...  ['Predictive_Analytics','Business_Analysis','C...
8             8  ...  ['virtual_team','Project_Management','Project_...
9             9  ...  ['Recruiting','HR_Consulting','Outplacement','...
10           10  ...  ['Interactive_Marketing','Content_Strategy','A...
11           11  ...  ['Social_Media','Email_Marketing','Shopper_Mar...
12           12  ...  ['AML','Relationship_Management','Team_Managem...
13           13  ...  ['Microbiology','Vaccines','International_Sale...
14           14  ...  ['Primavera','Revit_MEP','AutoCAD','Engineerin...
15           15  ...  ['Six_Sigma','Quality_Management','Manufacturi...
16           16  ...  ['Beauty','Cosmetics','Luxury_Goods','Retail',...
17           17  ...                                            ['SAP']
18           18  ...  ['Talent_Acquisition','Recruiting','Talent_Man...
19           19  ...  ['SQL','COBOL','DB2','JCL','Java','SDLC','Visi...
20           20  ...  ['Brand_Management','Integrated_Marketing','Te...
21           21  ...  ['JavaScript','HTML','CSS','WYSIWYG_layout_too...
22           22  ...  ['Coaching','Segmentation','Healthcare','P&L_M...
23           23  ...              ['E-Learning','Instructional_Design']
24           24  ...  ['Product_Development','Team_Management','Nego...
25           25  ...                 ['Heading_Analytical_R&D_for_API']
26           26  ...  ['Usability','Web_Design','Project_Management'...
27           27  ...  ['Product_Management','CRM','Business_Planning...
28           28  ...  ['Data_Analysis','Market_Research','Social_Net...
29           29  ...  ['Account_Management','Microsoft_Excel','Marke...
..          ...  ...                                                ...
238         238  ...  ['First_Aid_Consultant','Corporate_Trainer','F...
239         239  ...  ['Java','Apache','Scalability','SOAP','Groovy'...
240         240  ...  ['Digital_Media_Sales','Digital_Strategy','Adv...
241         241  ...  ['Market_Research','Account_Management','Adver...
242         242  ...  ['Non-profits','Volunteer_Management','Fundrai...
243         243  ...  ['RTL_design','Synthesis','Static_Timing_Analy...
244         244  ...  ['Architecture','Construction','Sustainable_De...
245         245  ...  ['Project_Management','Budgets','Pharmaceutica...
246         246  ...  ['C','Unix_Shell_Scripting','Solaris','AIX','S...
247         247  ...  ['Personal_Shopping','Personal_Style','Styling...
248         248  ...  ['Talent_Acquisition','Recruiting','Talent_Man...
249         249  ...                                ['Market_Research']
250         250  ...  ['Business_Analysis','Business_Process_Improve...
251         251  ...  ['Windows','HTML','SQL','Business_Analysis','W...
252         252  ...  ['Program_Management','Process_Improvement','A...
253         253  ...  ['Master_Carpenter','Master_Mechanic','Physiol...
254         254  ...  ['GMP','Sop','Cleaning_Validation','Granulatio...
255         255  ...  ['Entrepreneur','DAS','Hospital_telecommunicat...
256         256  ...                                 ['Private_Equity']
257         257  ...  ['Root_Cause_Analysis','Microbiology','People_...
258         258  ...  ['Process_Validation','Quality_Systems','ISO_1...
259         259  ...  ['Marketing','Product_Development','Retail','E...
260         260  ...  ['Retail','Sourcing','Wholesale','Spanish','Ex...
261         261  ...  ['Team_Leadership','Project_Planning','PRINCE2...
262         262  ...  ['Retail_business','marketing_communication','...
263         263  ...  ['Employee_Relations','Recruiting','Performanc...
264         264  ...  ['Performance_Management','Organizational_Deve...
265         265  ...  ['Conocimientos_Informaticos_Gestión_Personal'...
266         266  ...  ['Web_Application_Security_Assessment','Penetr...
267         267  ...                                       ['Coaching']

[268 rows x 3 columns]

In [ ]:
corpus_text = '\n'.join(dda[:268]['Skill'])
sentences = corpus_text.split('\n')
sentences = [line.lower().split(',') for line in sentences]

In [ ]:
sentences[1]

["['molecular_biology'", "'biomarkers']"]